.hero a {
    text-decoration: none;
    color: inherit; /* Takes the color from the parent div */
    display: block;  /* Allows the link to take up full space of the container */
    width: 100%;
    height: 100%;
}

.hero {
  display: flex;
  width: 70%;
  height: 70vh; 
  margin: auto;      
}

.hero .left,
.hero .right {
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.hero img {
  width: 90%;
  height: 100%;
  object-fit: cover;  
}

.hero p {
  position: absolute;
  font-weight: 500;
  color: black;
  letter-spacing: 2px;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  cursor: pointer;
  z-index: 2;
}

.hero .left p {
  left: 40px;
}

.hero .right p {
  right: 40px;
}

.hero .left:hover img,
.hero .right:hover img {
  transform: scale(1.05);
  transition: 0.5s ease;
}

