.product{
    width: 220px;
    border: 1px solid black;
    border-radius: 5px;
  
}
.product img{
    width: 100%;
    border-radius: 5px 5px 0px 0px;
    object-fit: cover;
    aspect-ratio: 1/1;
    display: block;
}
.product h4{
    font-size: 24px;
    color: black;
    padding: 5px 5px;
    text-decoration: none;
    color: #222;
}
.actual-price{
    text-decoration: line-through;
    padding-right: 10px;
    margin-left: 5px;
    text-decoration: none;
    color: #222;
    
}
.product p{
    font-size: 18px;
    margin: 10px 5px;
    text-decoration: none;
    color: #222;
}
@media(max-width:480px){
    .product{
        width: 160px;
        margin: auto;
    }
    .product h4{
        /* text-wrap: wrap; */
        font-size: 18px;
    }
    .product p{
        font-size: 16px;
    }
}