.product-page{
    display: flex;
    gap: 40px;
    align-items: center;
    margin: 70px auto;
}
.left{
    flex: 1.2;
}
.left img{
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
    background-color: white;
}
.left h4{
    font-size: 20px;
    color: black;
    font-weight: 600;
}
.left p{
    font-size: 18px;
    padding-top: 20px;
}
.left .description{
    text-wrap: wrap;
    margin: 10px 20px;
}
.right{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.right .title{
    font-size: 24px;
    font-weight: 700;
    color: black;
}
.right .cost{
    font-size: 18px;
    color: black;
    font-weight: 500;
}
label{
    font-size: 18px;
    color: black;
}
select{
    width: 200px;
    padding: 5px 0px;
}
input{
    width: 150px;
    padding: 10px 5px;
    font-size: 18px;
    color: black;
    font-weight: 600;
}


.right .addbuttons{
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.right .addbuttons button{
    padding: 10px 5px;
    background-color: white;
    font-size: 16px;
    width: 200px;
    border: 1px solid black;
}
.right .addbuttons .like{
   
    font-size: 40px;
    border: 1px solid black;
    padding: 10px ;
}
.right .buy{
    width: 250px;
    padding: 10px 4px;
    background-color: black;
    color: white;
    font-size: 16px;
    margin-bottom: 40px;
}
.right .buy:hover{
    background-color: rgba(0, 0, 0, 0.824);
}


@media(max-width:480px){
    .product-page{
        flex-direction: column;
        margin: 60px auto;
        gap: 20px;
    }
    
    .left img{
        width: 400px;
    }
}