.product-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 30px 20px;
    margin: 30px 0px;
    background-color: yellow;
}
.product-link{
    text-decoration: none;
}